# Auto detect text files and perform LF normalization
* text=auto

# Swift files
*.swift text eol=lf

# Shell scripts
*.sh text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Markdown
*.md text eol=lf

# Plist files
*.plist text eol=lf
